<mat-card>
  <mat-toolbar color="primary">Atualizar dados do Cliente</mat-toolbar>

    <mat-card-content>
      <form [formGroup]="form" class="min-width">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" formControlName="name">
          <mat-error *ngIf="form.get('name')?.invalid">{{
            getErrorMessage("name")
          }}</mat-error>
        </mat-form-field>
        <!--CPF-->
        <mat-form-field class="full-width">
          <input matInput placeholder="CPF" formControlName="cpf">
          <mat-error *ngIf="form.get('cpf')?.invalid">{{
            getErrorMessage("cpf")
          }}</mat-error>
        </mat-form-field>
        <!--Idade-->
        <mat-form-field class="full-width">
          <input matInput placeholder="Idade" formControlName="idade">
          <mat-error *ngIf="form.get('idade')?.invalid">{{
            getErrorMessage("idade")
          }}</mat-error>
        </mat-form-field>

      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>

      <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
</mat-card>
